.facebook {
    background-color: #1877f2;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5%;
    color: white;
}

.google {
    border: solid 2px black; 
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5%;
}